* {
    box-sizing: border-box;
}
h3,h1{
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
    text-align: center;
}
h3{font-size: 18px;}
h1{font-size: 50px;}
.header_main {
    width: 100%;
    float: left;
    background: #10e2bd;
    height: 80px;
}


/* Start Header */
header{
    min-height: 100vh;
    background-image: url(../images/banner-bg.png);
    background-position: center;
    background-size: cover;
}
/* End Header */
/* gallery section start */
img {
    max-width: 100%;
    height: auto;
}

.gallery_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.gallery_taital {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
    color: #f76d37;
    font-weight: bold;
}

.gallery_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    color: #fff;
}

.gallery_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

img.image {
    min-height: 300px;
}

.container_main {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(254, 230, 220, 0.6);
    margin: 0 auto;
}

.container_main:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    
}

.seemore_bt a {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #252525;
    padding: 10px 0px;
    margin-top: 40px;
    text-decoration: none;
    margin-bottom: 20px;

}

.seemore_bt a:hover {
    background-color: #f76d37;
    color: #ffffff;
}

a:hover {
    color: #f76d37;
}

/* gallery section end */
/* services section start */

.services_section {
    width: 100%;
    float: left;
    background-image: url(../images/services-bg.png);
    height: auto;
    padding-bottom: 100px;
    background-attachment: fixed;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.services_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

.house_icon {
    width: 200px;
    height: auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.house_icon img {
    width: 45px;
    min-height: 50px;
}

.box_main:hover {
    background-color: #ffffff;
}

.box_main {
    width: 100%;
    background-color: #f76d37;
    padding: 40px 30px;
    box-shadow: 0px 0px 18px -6px;
}

.box_main:hover .decorate_text {
    color: #000;
}

.box_main:hover .tation_text {
    color: #000;
}

.box_main:hover .readmore_bt {
    display: block;
}

.box_main:hover .readmore_bt a {
    color: #ffffff;
    background-color: #000;
}

.services_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.decorate_text {
    width: 100%;
    font-size: 28px;
    color: #ffffff;
    padding-top: 30px;
    text-align: center;
}

.tation_text {
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

.readmore_bt {
    width: 175px;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    display: none;
    padding-bottom: 40px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #070603;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #f76d37;
}

/* services section end */

/* contact section start */
.layout_padding {
    padding-top: 50px;
    padding-bottom: 0px;
}

.contact_section {
    width: 100%;
    float: left;
}

.contact_text {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    color: #f76d37;
    font-weight: bold;
}

.contact_section_2 {
    width: 100%;
    float: left;
}

.mail_section {
    width: 100%;
    float: left;
    background-image: url(../images/img-9.png);
    height: auto;
    padding: 23px 70px;
    background-repeat: no-repeat;
    background-size: cover;
}

.long_text {
    width: 52%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: #b2afaf;
    padding-top: 30px;
    display: flex;
}

.email_text {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.email-bt {
    color: #080707;
    width: 100%;
    height: 55px;
    font-size: 20px;
    padding: 20px 40px;
    border: 0px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.massage-bt {
    color: #080707;
    width: 100%;
    height: 150px;
    font-size: 20px;
    padding: 40px;
    border: 0px;
    border-radius: 50px;
}

.send_btn {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.main_bt a {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #d33a11;
    padding: 15px 50px 12px 50px;
    border-radius: 30px;
    display: block;
}

.main_bt a {
    color: #ffffff;
    background-color: #d33a11;
    text-decoration: none;
}

.main_bt a:hover {
    color: #323131;
    background-color: #ffffff;
}

.padding_0 {
    padding: 0px;
}
/* contact section end */
/* footer section start */
footer{
    padding: 30px 0px;
    background-color: #333;
}
footer p{
    text-align: center;
    color: #ddd;
    margin-top: 20px;
}
/* footer section end */
